//import styles
@import "tools/mixins";
@import "layout/main";

//home styles
header {
    @include header-background("/assets/img/bg/commercialisation.jpg");
}

#fiche-produit {
    .section-header {
        @include section-header($brown);

        padding: 5em 10em;

        hr {
            margin: 0;
        }
    }

    .section-content {
        padding-bottom: 5em;
        padding-left: 10em;
        padding-right: 10em;
    }

    form {
        @include form-sheet();
    }
}

.btn-group {
    display: flex;
    align-items: center;

    a:last-child {
        margin-left: 1em;
    }
}