//import styles
@import "tools/mixins";
@import "layout/main";

//home styles
header {
    @include header-background("/assets/img/bg/accueil.jpg");
}

#comment-ca-marche {
    .section-header {
        @include section-header($brown);
    }

    .section-content {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        li {
            font-size: 3rem;
            color: $green;
            margin-bottom: .5em;
        }

        h3 {
            font-family: $medium-font;
            font-size: 1.4rem;
            color: $brown;
            margin-bottom: .5em;
        }

        p {
            font-family: $text-font;
            font-size: 1.2rem;
            margin-bottom: 2em;
        }
    }
}

#contact {
    background: linear-gradient(
        to right,
        rgba($green, .9), rgba($green, .9)
        ), url("/assets/img/tubercules-manioc.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    p {
        color: white;
        font-family: $title-font;
        font-size: 1.2rem;
        margin-bottom: 3em;
    }

    .section-header {
        @include section-header(white);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        width: 100%;
        margin-bottom: 2em;
    }

    .col-left, .col-right {
        padding: 0 1em;
        width: 100%;
    }

    .col-left {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 1.1em;
        padding: .5em 0;
    }

    input, textarea {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        border-bottom: 3px solid white;
        color: white;
        font-family: $text-font;
        font-size: 1.2rem;
        transition: all .3s ease-out;

        &:focus {
            border-color: $brown;
        }
    }
    
    textarea {
        resize: none;
    }
}
