@import "fonts";
@import "colors";
@import "root";

nav {
    padding: 1.5em 0;
    position: absolute;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        max-width: 250px;
    }

    ul {
        display: flex;
        align-items: center;

        div:nth-child(1), div:nth-child(2) {
            margin-right: 2em;
        }

        a {
            color: white;
            font-family: $headers-font;
            text-shadow: 0 0 2px black;
            font-size: 1.3rem;

            &:hover {
                color: $green;
            }
        }

        li {
            text-shadow: 0 0 2px black;
        }
    }

    .fa-shopping-cart, .fa-user {
        margin-right: .2em;
        font-size: 1.3rem;
        color: $green;
    }
}

.section-products {
    .container {
        padding: 5em 0;
        display: flex;
    }

    h4 {
        font-family: $headers-font;
        font-size: 1.8rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}

.section-products__left {
    widows: 30%;

    input {
        margin-top: 2em;
        font-family: $text-font-regular, sans-serif;
        font-size: 1.2rem;
        padding: .5em;
    }
}

.section-products__right {
    widows: 70%;
    margin-left: 2em;

    #products-list {
        margin-top: 2em;
        font-family: $text-font-regular, sans-serif;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;

        h5 {
            font-size: 1.3rem;
        }

        .product-card {
            width: 40%;
            margin-right: 2em;
            margin-bottom: 2em;
            padding: 2em 1em;
            text-align: center;
            line-height: 1.8;
            border: 0;
            box-shadow: 0 0 5px black;
            border-radius: 5px;

            p, a {
                margin-bottom: 1em;
            }
        }
    }
}