@import "main";

.hero {
    background: linear-gradient(
        to right,
        rgba(black, .6), rgba(black, .6)
        ), url("/assets/img/hero_market.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: $title-font;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 0 0 2px black;
        margin-bottom: 1em;
        line-height: 1.8;
    }
}

.section-products {
    padding: 5em 0;
    
    .container {
        display: flex;

        .section-products__left {
            width: 30%;
        }

        .section-products__right {
            width: 70%;
        }
    }

    h4 {
        font-family: $title-font;
        font-size: 1.8rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}

.section-products__left {
    input[type=search] {
        font-family: $text-font;
        font-size: 1.2rem;
        padding: .5em;
        margin-top: 2em;
    }

    input[type=submit] {
        margin-top: 1em;
    }
}

.section-products__right {
    margin-left: 2em;

    #products-list {
        margin-top: 2em;
        font-family: $text-font;
        font-size: 1.3rem;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        h5 {
            font-size: 1.3rem;
            margin: .5em 0;
        }

        .product-card {
            text-align: center;
            border: 0;
            box-shadow: 0 0 5px black;
            border-radius: 5px;

            p {
                margin-bottom: 1.5em;
            }

            div {
                padding-bottom: 2em;
            }
        }
    }
}
