@import "main";
@import "navmenu";

.section-products {
    padding: 5em 0;
    
    .container {
        display: flex;

        .section-products__left {
            width: 30%;
        }

        .section-products__right {
            width: 70%;
        }
    }

    h4 {
        font-family: $headers-font;
        font-size: 1.8rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}

.section-products__left {
    input[type=search] {
        font-family: $text-font-regular, sans-serif;
        font-size: 1.2rem;
        padding: .5em;
        margin-top: 2em;
    }

    input[type=submit] {
        margin-top: 1em;
    }
}

.section-products__right {
    margin-left: 2em;

    #products-list {
        margin-top: 2em;
        font-family: $text-font-regular, sans-serif;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;

        h5 {
            font-size: 1.3rem;
            margin: .5em 0;
        }

        .product-card {
            width: 40%;
            margin-right: 2em;
            margin-bottom: 2em;
            text-align: center;
            border: 0;
            box-shadow: 0 0 5px black;
            border-radius: 5px;

            p {
                margin-bottom: 1.5em;
            }

            div {
                padding-bottom: 2em;
            }
        }
    }
}
