@import "main";

header {
    background: linear-gradient(
        to right,
        rgba(black, .6), rgba(black, .6)
        ), url("/assets/img/hero_production.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: $title-font;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 0 0 2px black;
        margin-bottom: 1em;
        line-height: 1.8;
    }
}

.section-sheet__header {
    padding: 5em 10em;
}

.section-sheet__content {
    padding-bottom: 5em;
    padding-left: 10em;
    padding-right: 10em;
}

.section-sheet__header {
    h2 {
        font-family: $title-font;
        font-size: 2rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}

#production-sheet {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;

    & > label {
        color: $brown;
        font-family: $medium-font;
    }

    input, textarea, select {
        padding: .5em;
    }

    input, textarea {
        resize: none;
        border: 1px solid black;
        border-radius: 5px;
    }

    label, input, textarea, select {
        font-size: 1.2rem;
    }

    label, .radio-group {
        padding-bottom: .5em;
    }

    .radio-group {
        label {
            margin-left: .5em;
        }
    }
}
