@import "main";
@import "navmenu";

.section-courses {
    padding: 5em 0;
    display: flex;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #courses-list {
        margin-top: 2em;
        font-family: $text-font-regular, sans-serif;
        font-size: 1.3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h5 {
            font-size: 1.3rem;
            margin: .5em 0;
            margin-bottom: 1.5em;
        }

        .course-card {
            width: 40%;
            margin-right: 2em;
            margin-bottom: 2em;
            text-align: center;
            border: 0;
            box-shadow: 0 0 5px black;
            border-radius: 5px;

            div {
                padding-bottom: 2em;
            }
        }
    }

    h4 {
        font-family: $headers-font;
        font-size: 1.8rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}
