@import "main";

header {
    background: linear-gradient(
        to right,
        rgba(black, .6), rgba(black, .6)
        ), url("/assets/img/hero_transformation.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: $title-font;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 0 0 2px black;
        margin-bottom: 1em;
        line-height: 1.8;
    }
}

.section-sheet__header,
.section-sheet__content {
    padding: 5em 0;
}

.section-sheet__header {
    h2 {
        font-family: $title-font;
        font-size: 2rem;
        color: $brown;
        margin-bottom: .5em;
    }

    hr {
        width: 100px;
        border-width: 2px;
        border-color: $brown;
    }
}