@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto/Roboto-Regular.eot");
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto/Roboto-Bold.eot");
  src: url("/assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Baloo-Bhai";
  src: url("/assets/fonts/Baloo-Bhai/BalooBhai-Regular.eot");
  src: url("/assets/fonts/Baloo-Bhai/BalooBhai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 1030px;
  margin: 0 auto;
}

.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/hero.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  color: white;
  font-family: "Baloo-Bhai";
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0 0 2px black;
  margin-bottom: 1em;
}

.button-link {
  cursor: pointer;
  padding: 0.8em 2em !important;
  font-size: 1.3rem;
  font-family: "Baloo-Bhai";
  border: none;
  border-radius: 5px;
}

.button-link__header {
  background-color: #63a644;
  color: white;
}
.button-link__header:hover {
  background-color: #734429;
  box-shadow: 0 0 5px #734429;
}

.button-link__section {
  background-color: #734429;
  color: white;
}
.button-link__section:hover {
  background-color: #63a644;
  box-shadow: 0 0 5px #63a644;
}

.button-link__footer {
  background-color: white !important;
  color: #734429 !important;
}
.button-link__footer:hover {
  background-color: #734429 !important;
  color: white !important;
  box-shadow: 0 0 5px #734429 !important;
}

footer {
  background-color: #734429;
  text-align: center;
  color: white;
  padding: 1.5em;
}
footer p {
  color: white;
  font-family: "Baloo-Bhai";
  font-size: 1.2rem;
  line-height: 1.8;
}
footer a {
  color: #f2e205ff;
}

#scroll-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 11;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #734429;
}
#scroll-top:hover {
  color: #63a644;
  box-shadow: 0 0 5px #734429 !important;
}

nav {
  padding: 1.5em 0;
  position: absolute;
  width: 100%;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  max-width: 250px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul div:nth-child(1), nav ul div:nth-child(2) {
  margin-right: 2em;
}
nav ul a {
  color: white;
  font-family: "Baloo-Bhai";
  text-shadow: 0 0 2px black;
  font-size: 1.3rem;
}
nav ul a:hover {
  color: #63a644;
}
nav ul li {
  text-shadow: 0 0 2px black;
}
nav .fa-shopping-cart, nav .fa-user {
  margin-right: 0.2em;
  font-size: 1.3rem;
  color: #63a644;
}

.section-products .container {
  padding: 5em 0;
  display: flex;
}
.section-products h4 {
  font-family: "Baloo-Bhai";
  font-size: 1.8rem;
  color: #734429;
  margin-bottom: 0.5em;
}
.section-products hr {
  width: 100px;
  border-width: 2px;
  border-color: #734429;
}

.section-products__left {
  widows: 30%;
}
.section-products__left input {
  margin-top: 2em;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2rem;
  padding: 0.5em;
}

.section-products__right {
  widows: 70%;
  margin-left: 2em;
}
.section-products__right #products-list {
  margin-top: 2em;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}
.section-products__right #products-list h5 {
  font-size: 1.3rem;
}
.section-products__right #products-list .product-card {
  width: 40%;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 2em 1em;
  text-align: center;
  line-height: 1.8;
  border: 0;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}
.section-products__right #products-list .product-card p, .section-products__right #products-list .product-card a {
  margin-bottom: 1em;
}

/*# sourceMappingURL=market.css.map */
